<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>22stom</title>
    <style>
        body {
         background:no-repeat center #c8f2fa; /* Цвет фона и путь к файлу */
         color: rgb(0, 0, 0); /* Цвет текста */
        }
       </style>
</head>
<body>
    <form action="otvet.html">
      <table>
        <h2>АНКЕТА ДЛЯ СОБЕСЕДОВАНИЯ</h2>
        <div class="form-example">
            <label for="name">Введите ваше ФИО: </label>
            <input type="text" name="name" id="name" required>
          </div>
          <p></p>
          <div class="form-example">
            <label for="age">Введите вашу дату рождения: </label>
            <input type="text" name="age" id="age" required>
          </div>
          <p></p>
          <div class="form-example">
            <label for="adress">Введите ваш Адрес места проживания: </label>
            <input type="text" name="adress" id="adress" required>
          </div>
          <p></p>
          <div class="form-example">
            <label for="phone">Введите ваш мобильный телефон: </label>
            <input type="text" name="phone" id="phone" required>
          </div>
          <p></p>
          <div class="form-example">
            <label for="fam"> Ваше семейное положение: </label>
            <input type="text" name="fam" id="fam" required>
          </div>
          <p></p>
          <div class="form-example">
            <label for="child"> Дети: : </label>
            <input type="text" name="child" id="child" required>
          </div>
          <p></p>
          <h3>Приобретенное образование (высшее или среднее профессиональное)</h3>
          <div class="form-example">
            <label for="edu_name1"> Название учебного заведения: : </label>
            <input type="text" name="edu_name1" id="edu_name1" required>
          </div>
          <p></p>
          <div class="form-example">
            <label for="edu_sta1"> Дата поступления: : </label>
            <input type="text" name="edu_sta1" id="edu_sta1" required>
          </div>
          <p></p>
          <div class="form-example">
            <label for="edu_ed1"> Дата окончания: </label>
            <input type="text" name="edu_ed1" id="edu_ed1" required>
          </div>
          <p></p>
          <div class="form-example">
            <label for="spes"> Специальность: </label>
            <input type="text" name="spes" id="spes" required>
          </div>
          <p></p>
          <div class="form-example">
            <label for="dop"> Дополнительное образование (курсы, семинары, тренинги): </label>
            <input type="text" name="dop" id="dop" required>
          </div>
          <p></p>
          <div class="form-example">
            <label for="comp"> Навыки владения компьютером: </label>
            <input type="text" name="comp" id="comp" required>
          </div>
          <h3>Опыт работы</h3>
          <div class="form-example">
            <label for="op_name1"> Наименование организации: </label>
            <input type="text" name="op_name1" id="op_name1" required>
          </div>
          <p></p>
          <div class="form-example">
            <label for="dolzh"> Должность: </label>
            <input type="text" name="dolzh" id="dolzh" required>
          </div>
          <p></p>
          <div class="form-example">
            <label for="op_s1"> Дата начала: </label>
            <input type="text" name="op_s1" id="op_s1" required>
          </div>
          <p></p>
          <div class="form-example">
            <label for="op_e1"> Дата окончания: </label>
            <input type="text" name="op_e1" id="op_e1" required>
          </div>
          <p></p>
          <div class="form-example">
            <label for="fro"> Откуда Вы о нас узнали: </label>
            <input type="text" name="fro" id="fro" required>
          </div>
          <p></p>
          <div class="form-example">
            <label for="zp"> Желаемый уровень заработной платы : </label>
            <input type="text" name="zp" id="zp" required>
          </div>
          <p></p>
          <div class="form-example">
            <label for="new_dolzh"> Желаемая должность : </label>
            <input type="text" name="new_dolzh" id="new_dolzh" required>
          </div>
          <p></p>
          <div class="form-example">
            <label for="har"> Как Вы могли бы себя охарактеризовать?: </label>
            <input type="text" name="har" id="har" required>
          </div>
          <p></p>
          <div class="form-example">
            <label for="amb"> Каковы Ваши профессиональные амбиции?: </label>
            <input type="text" name="amb" id="amb" required>
          </div>
          <p></p>
          <div class="form-example">
            <label for="otvet"> Даете ли вы согласие на обратку ваших  данных, фото-видео-фиксацию процесса: </label>
            <input type="text" name="otvet" id="otvet" required>
          </div>
          <p></p>
          <div class="form-example">
            <label for="date"> Дата заполнения: </label>
            <input type="text" name="date" id="date" required>
          </div>
          <p></p>
    </table>
    <p><input type="submit" value="Отправить">
        <input type="reset" value="Очистить"></p>
</form>
</body>
</html>